.lg-sub-html {
    background-color: rgba(39, 42, 49, 0.66);
    bottom: 10px;
}
.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {

    padding-right: 75px;
}

.lg-backdrop {
    background-color: #141414;
}
.lg-progress-bar .lg-progress {
    background-color: #ac8318;
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
    border-color: #ffd200;
}

.lg-outer .lg-thumb-outer {
    background-color: rgba(0, 0, 0, 0.39);
}
