/** custom styles for qtip **/
.qtip-titlebar .title.qtip_title {
    font-size: 17px;
    font-weight: 700;
    color: #272a31;
    margin-bottom: 0;
    padding: 0.25em 0;
}

.qtip-bootstrap .qtip-titlebar .qtip-close {
  position: absolute;
}
