// -----------------------------------------------------------------------------
// This file contains all styles for remodal with actions (order-now, consult and etc..)
// -----------------------------------------------------------------------------

/** Skeleton styles for actions remodal **/
.remodal--action {
  border-radius: 5px;
  // width: 440px;
  // max-width: 100%;
  padding: 25px 40px 40px;




  .remodal-close {
    right: 18px;
    top: 15px;
  }
  .remodal__title {
      border: none;
      padding: 0;
      text-align: center;
      display: block;
      margin: 0 0 15px;
      position: relative;
      z-index: 10;
  }
.remodal__content-wrapper {
  margin: auto;
  padding: 25px;
  @include media("<=414px") {
    padding: 0;
  };
  background: #282834;
}
  .remodal__description {
    color: $yellow;
    line-height: 125%;
    margin-bottom: 30px;
    text-align: center;
  }

  .remodal--action__icon {
      position: relative;
      display: block;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
  }
  .remodal__body {
    min-height: 320px;
    transition: 1s ease all;
    position: relative;
 }



  .remodal--action__title {
      display: block;
      margin-top: 15px;
  }
  .site-form--action {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s ease;

    &.site-form--action--hidden {
        transform: translateY(-100%);
        opacity: 0;
    }

    .site-form__subheader {
      font-size: 20px;
    }
  }


  .btn--action-success-close {
    width: 100%;
    height: 60px;
    margin-top: 45px;
    font-size: 25px;
    margin-bottom: 45px;


  }


  .btn--submit-action {
    width: 360px;
    max-width: 100%;
    height: 70px;
    margin-top: 20px;
margin-bottom: 20px;

  }
  .success-icon {
      display: none;
      svg {
          width: 200px;
          height: 200px;
          display: block;
          margin: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          path {
            fill: rgba(46, 48, 60, 0.66);
          }
      }
  }


}


// video -remodal settings

.remodal--video {
  .remodal__content-wrapper {
    padding: 0;
  }
}
// cases images -remodal settings





/*
REMODAL with header like a browser --- CURRENT USE
 */

.remodal.remodal--browser {
      padding: 0;
      background-color: #2e303c;

    //different outlined classes
    .outlined {
      background: #ac9455;
      color: #ffffff;
      width: 100%;
      padding: 10px 20px;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
      position: relative;
    }
    &.remodal--grant .outlined {
      top: 10px;
      @include media(">960px") {
        font-size: 50px;
      };
    }

    &.remodal--seo-landing .outlined {
      margin-bottom: 10px;
    }

    &.remodal--get-order .outlined {
      margin-bottom: 10px;
    }

    .remodal__header-wrapper {
      background-color: #212121;
      position: relative;
      padding: 0 15px;
      z-index: 70;
    }

    .c-controls {
        display: flex;
        height: 60px;
    }
    .c-control {
        display: inline-block;
        vertical-align: middle;
        align-self: center;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        border-radius: 50%;
        // border: 1px solid transparent;
        transition: all .3s ease;

    }


    .c-control--close {
      border-color: #968250;
background-color: #937f4d;
    }

    .c-control--min {
      border-color: #b39851;
  background-color: #c5ab65;
    }

    .c-control--max {
      border-color: #e8c875;
    background-color: #e8c875;
    }



    .remodal-close {
        top: 10px;
        right: 15px;
        svg {
                fill: #ac9455;
            &:hover {
                fill: #ffce54;
            }
        }
    }


      .remodal__content-wrapper {
        background-color: #141414;
         background: -webkit-radial-gradient(circle closest-side at 50%, #202020 0%, #141414 100%);
         background: -moz-radial-gradient(circle closest-side at 50%, #202020 0%, #141414 100%);
         background: -o-radial-gradient(circle closest-side at 50%, #202020 0%, #141414 100%);
         background: -ms-radial-gradient(circle closest-side at 50%, #202020 0%, #141414 100%);
         background: radial-gradient(circle closest-side at 50%, #202020 0%, #141414 100%);
             box-shadow: 0 0px 0 2px #212121 inset;
      }
    // setting for form inside remodal

    //// outlined form
    .site-form--basic-outlined {
        text-align: center;
        width: 480px;
        max-width: 100%;
        margin: auto;
        padding: 5px;

        background: #ac9455;
        background: linear-gradient(135deg,#9a854e 0%,#e8c875 50%, #9a854e 100%);
        form {
          width: 360px;
          max-width: 100%;
          margin: 19px auto 0;
          text-align: left;
          color: white;
        }
        .site-form__header {
          font-size: 50px;
          @include media('>=480px', '<960px') {
            font-size: 50px;
            font-size: 8vw;
          }
          @include media('<480px') {
            font-size: 40px !important;
            margin-bottom: 0.67em;
          }
          color: white;
          margin-bottom: 25px;
          margin-top: 30px;
          display: inline-block;
          span {
            display: block;
          }
        }

        .site-form__subheader {

          font-size: 18px;
          color: #e2d2a9;
          line-height: 1.2em;
        }

        //////////// outlined with inner

        .site-form--basic-outlined__inner {
          background: #141414;
          padding: 10px;

          @include media("<=414px") {
            min-height: calc(100vh - 60px - 10px);
            padding: 15px;
          };
        }
        .btn.btn--brown:hover {
          background: #9c864c;
          text-decoration: none;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
        }

        .btn--brown {
          &.slick-prev:hover, &.slick-next:hover {
            background: #9c864c;
            text-decoration: none;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
          }
        }

        .btn--submit-action {
          width: 360px;
          max-width: 100%;
          height: 60px;
              overflow: hidden;
        }


        &.site-form {
          input {
            &.notEmpty, &:focus {
              background: #2e2e2e;
              -webkit-box-shadow: 0 0 0 1px rgba(172, 148, 85, 0.35) inset;
              -moz-box-shadow: 0 0 0 1px rgba(172, 148, 85, 0.35) inset;
              box-shadow: 0 0 0 1px rgba(172, 148, 85, 0.35) inset;
            }
          }
          textarea {
            &.notEmpty, &:focus {
              background: #2e2e2e;
              -webkit-box-shadow: 0 0 0 1px rgba(172, 148, 85, 0.35) inset;
              -moz-box-shadow: 0 0 0 1px rgba(172, 148, 85, 0.35) inset;
              box-shadow: 0 0 0 1px rgba(172, 148, 85, 0.35) inset;
            }
          }
          input, textarea {
              width: 360px;
              max-width: 100%;
            &.notEmpty {
              background: #2e2e2e;
              color: #fff;
              -webkit-box-shadow: 0 0 0 1px #000 inset;
              -moz-box-shadow: 0 0 0 1px #000 inset;
              box-shadow: 0 0 0 1px #000 inset;
              &:focus {
                background: #2e2e2e;
                color: #fff;
                -webkit-box-shadow: 0 0 0 1px #000 inset;
                -moz-box-shadow: 0 0 0 1px #000 inset;
                box-shadow: 0 0 0 1px #000 inset;
              }
            }
            &.valid:focus {
              background: #2e2e2e;
              color: #fff;
              -webkit-box-shadow: 0 0 0 1px #000 inset;
              -moz-box-shadow: 0 0 0 1px #000 inset;
              box-shadow: 0 0 0 1px #000 inset;
            }
          }
          label {
            font-family: Roboto,sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 28px;
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.12em;
            text-align: left;
            color: #939393;
              &.error {
                color: #dc5151;
                position: absolute;
                font-size: 11px;
                margin-top: 3px;
                line-height: 24px;
              }
          }
          .form-group {
            margin-bottom: 28px;
          }
        }
    }



/////////////////////////////////////////////////////
/// ZOOMABLE IMAGES STYLES REMODAL /////////////////
/// ///////////////////////////////////////////////

&.remodal--zoom-images {
  background: #141414;
    width: 1920px;
    max-width: 100%;
    height: 100%;
    margin-bottom: 0;
    overflow: hidden;

    // preload settings
    .zoom-scene-overlay {
      // width: 100%;
      // height: 100%;
      // position: absolute;
      // left: 0;
      // top: 60px;
      // background: #2e2e2e;
      // z-index: 1;
      position: relative;
      top: 60px;
    }

    .zoom-scene-preloader {
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        margin: auto;
    }
.remodal__content {
  height: 100%;
}
    &.remodal--action .remodal__content-wrapper {
        margin: auto;
        padding: 25px;
        background: #282834;
        height: 100vh;
    }

    .zoom-images {
        width: 100%;
        height: 100%;
        // height: calc(100vh - 60px);
        overflow-x: hidden;
overflow-y: scroll;
       padding-bottom: 60px;

    }

    .zoom-image {
      max-width: 100%;
      height: auto;
      // image-rendering: auto;
      // image-rendering: crisp-edges;
      // image-rendering: pixelated;
    }

    // navigation for zoom (will use from lightGallery)
    // .c-nav {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     left: 0;
    //     top: 0;
    //     .remodal-zoom-toolbar {
    //         left: 0;
    //         right: 0;
    //         bottom: 0;
    //         margin: auto;
    //         width: 100%;
    //         height: 100%;
    //         text-align: center;
    //         background: none;
    //         width: 100%;
    //         .lg-icon--remodal {
    //           font-family: 'lg';
    //           speak: none;
    //           font-style: normal;
    //           font-weight: normal;
    //           font-variant: normal;
    //           text-transform: none;
    //           line-height: 1;
    //           -webkit-font-smoothing: antialiased;
    //           -moz-osx-font-smoothing: grayscale;
    //           color: #c5ab65;
    //           &:hover,
    //           &:active {
    //             color: #e8c875;
    //           }
    //           &.active {
    //             color: #ffce54;
    //           }
    //           cursor: pointer;
    //           font-size: 24px;
    //           height: 100%;
    //           line-height: 40px;
    //           padding: 10px 0;
    //           text-align: center;
    //           width: 50px;
    //           text-decoration: none !important;
    //           outline: medium none;
    //           transition: color 0.2s linear;
    //           display: inline-block;
    //           vertical-align: middle;
    //
    //           }
    //           .lg-zoom-in--remodal:after {
    //             content: "\e311";
    //           }
    //
    //           .lg-actual-size--remodal {
    //             font-size: 20px;
    //           }
    //           .lg-actual-size--remodal:after {
    //             content: "\e033";
    //           }
    //
    //           .lg-zoom-out--remodal:after {
    //             content: "\e312";
    //           }
    //           .lg-fullscreen--remodal:after {
    //               content: "\e20c";
    //           }
    //
    //           > div {
    //             display: none!important;
    //           }
    //
    //     }
    //
    // }
    // // zoom plugin settings
    // .displayregion {
    //     border: 2px solid #ac9455!important;
    // }
    // .openseadragon-canvas {
    //   background: radial-gradient(circle, rgba(19, 19, 19, 0.41) 0%, rgba(74, 74, 74, 0.38) 70%, rgba(65, 61, 54, 0.41) 100%), image('patterns/low_contrast_linen.png') !important;
    //       box-shadow: 0 0 150px 50px rgba(24, 24, 24, 0.25) inset;
    //   &:focus {
    //       outline: none;
    //     }
    //
    // }

}


}



.remodal-wrapper.remodal-wrapper--fixed {
      padding: 0;
      overflow: hidden;
}

/**
 * settings for different modals
 */
