/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4em $text-font-stack;
  // font: normal 20px $text-font-stack;
}

span, p, div {
  line-height: 100%;
}

input, textarea, select {
  font-family: inherit;
}

h1, h2, h3{
  font-family: $header-font;
  line-height: 100%;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
   font-size: 90px;
   line-height: 100%;
   @include media("<880px") {
      font-size: 60px;
      font-size: 9vw;
   };
   @include media("<tablet") {
     font-size: 45px;
     font-size: 9vw;
   };
   @include media("<480px") {
     font-size: 32px;
     font-size: 9vw
   };
}

h2 {
   font-size: 70px;

}
.header-big-title {
  font-size: 83px;
}
p.subtitle {
  .inverted & {
    color: $white;
  }
    font-size: 20px;
    text-align: center;
    color: $dark-black;
}
