/**
 * Order online
 */

fieldset {
  border: none;
  margin: 0;
padding: 0;
}
.step__slide .site-form__column-wrapper {
    padding: 0 20px;
}
.page .header-section.header-section--order {
  border-radius: 0;
      min-height: 168px;
}
.page-container.order-container {
     margin-top: 0;
     .section-white-box {
       border-radius: 0 0 3px 3px;

     }
 }

 .step__identifier {
     font-size: 14px;
     color: #999;
 }

 .step__name {
     margin: 15px 0;
     font-weight: bold;
     font-size: 32px;
     color: #393939;
 }

/**
 * progressbar
 */
 .step__progressbar {
   counter-reset: step;
   position: relative;
   margin: 10px auto;
   width: 75%;
   display: table;
 }

 .step__progressbar-item {
   list-style-type: none;
   color: white;
   text-transform: uppercase;
   font-size: 14px;
   width: 25%;
   position: relative;
   float: left;
   display: inline-block;
   cursor: pointer;
   &:before {
     content: counter(step);
     counter-increment: step;
     width: 40px;
     line-height: 40px;
     display: block;
     font-size: 14px;
     text-align: center;
     color: #333;
     background: white;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     margin: 0 auto 5px auto;
     box-shadow: 0 0 0 1px #ccc;
     z-index: 1;
     position: relative;
     transition: 0.5s ease all;
     transition-delay: 0.5s;
   }
   &:after {
     content: '';
     width: 100%;
     height: 1px;
     background: #ccc;
     position: absolute;
     left: -50%;
     top: 20px;
     z-index: 0;
     transition: 1s ease all;
   }

   &:first-child:after {
    	/*connector not needed before the first step*/
    	content: none;
   }
   &.active {
     &:before {
       background: #00a01a;
       color: white;
       box-shadow: 0 0 0 1px #028710;
     }
     &:after {
       width: 100%;
       background: #00a01a;
       color: white;
       box-shadow: 0 0 0 1px #028710;
     }
   }
 }

 /** order__questions **/
 .order__question-title {
    position: relative;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: normal;
    font-size: 24px;
    display: inline-block;
    border-radius: 100%;
    &:before {
      content: "";
      background-color: $yellow;
      width: 70px;
      height: 2px;
      display: block;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
    }
}

/** step 2 **/
.site-form__field {
    width: 100%;
    display: table;
    margin: 40px auto;
}

.order__question-header {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.site-form__field-control {
    display: table-cell;
    vertical-align: top;
}

.site-form__select-pre-text {
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
    color: #949494;
    margin-bottom: 10px;
    position: absolute;
    top: -25px;
    left: 0;
}
.site-form__check-text {
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
    color: #949494;
    margin-bottom: 10px;
}

.site-form__field-id .spinner {
    display: inline-block;
    margin-right: 40px;
    label {
        margin-top: 0;
    }
}


/** subtotal step 2 **/


.order__subtotal-price-wrapper {
    font-size: 28px;
    font-weight: bold;
}

.site-form__column-wrapper.order__subtotal {
    border-top: 1px solid #e6e6e6;
    padding: 25px 20px;
}
.order__subtotal-title {
    margin: 15px 0;
    font-weight: bold;
    font-size: 28px;
    color: $blue-base1;
}
.order__subtotal-price {
    color: $base-green;
}

/** step 4 **/
.checkout-preview {
  position: relative;
  background: #f8f8f8;
  background: linear-gradient(to bottom, white,rgba(0, 48, 93, 0.37));
  width: 75%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 5px 50px 0px;
  border-radius: 3px;
}

.country-destination-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}


/** step nav **/
.step__slide-nav {
    text-align: center;
    display: table;
    width: 100%;
    border: 1px solid #e6e6e6;
    table-layout: fixed;
}



.step__slide-nav-control {
    display: table-cell;
    border-right: 1px solid #e6e6e6;
    padding: 40px 0;
}

.price-symbol-rub {
  font-size: 0.85em;
}

.payment-systems {
  display: block;
  max-width: 100%;
  margin: 35px auto 0;
}

sup.sup-star {
    font-weight: bold;
    color: #c5313d;
}

.star-description {
    padding: 15px;
    color: #c5313d;
    strong {
        font-size: 1.4em;
        vertical-align: middle;
    }
}
