// -----------------------------------------------------------------------------
// This file contains all styles related to the ECRAN 11 reviews of the site/application.
// -----------------------------------------------------------------------------
//
.lg-outer .lg-thumb {
  margin-left: auto;
  margin-right: auto;
}
.reviews {
  background-color: #141414;
       background: radial-gradient(circle closest-side at 50%, #202020 0%, #141414 100%);
// overflow: visible;
  .container {
    max-width: 1100px;
  }
  // --------------------------------------------------------------------------
  // swiper settings
  // --------------------------------------------------------------------------
  .swiper-container {
        width: 100%;
        max-width: 960px;
        // padding-top: 50px;
        // padding-bottom: 50px;
        padding: 80px 0;
      &.swiper-container-coverflow {
          // &:before, &:after {
          //   content: "";
          //   top: 0;
          //   position: absolute;
          //   width: 20px;
          //   height: 100%;
          //   z-index: 111;
          //   @include media("<730px"){
          //     opacity: 0;
          //     visibility: hidden;
          //   };
          // }
          // &:before {
          //   left: 0;
          //   background: linear-gradient(to right, #141414, rgba(255, 255, 255, 0));
          // }
          // &:after {
          //   right: 0;
          //   background: linear-gradient(to left, #141414, rgba(255, 255, 255, 0));
          // }
      }
    }

    .swiper-slide {
        // background-position: center;
        width: 356px;
        height: 492px;

        @include media("<480px") {
          width: 300px;
          height: 415px;
          opacity: 0.2;

          &.swiper-slide-active {
            opacity: 1;
          }
        };

        // review
        .review {
          display: inline-block;
        }
        .review__img {
          // width: 356px;
          // height: 492px;

          width: 100%;
        }


      /** shadows **/
        &.swiper-slide-active {
            .review__img {
              box-shadow: 40px 0 50px rgba(0, 0, 0, 0.3),-40px 0 50px rgba(0, 0, 0, 0.3);
            }
        }
        &.swiper-slide-prev {
            box-shadow: -10px 0 25px rgba(66, 66, 66, 0.33);
        }

        &.swiper-slide-next {
            box-shadow: 10px 0 25px rgba(66, 66, 66, 0.33);
        }


    }
    .swiper-button-next, .swiper-button-prev {
      background-image: none;
      top: 58%;
      top: calc(50% + 62px);
      width: auto;
      height: auto;
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      // if window < container width
      @include media("<1100px") {
        background: #ac9455;
        padding: 10px;
      };
    }

    .preview__prev--mobile,
    .preview__next--mobile {
      display: none;
      @include media("<1100px") {
        display: block;
      };

    }
    @include media("<tablet") {
      .swiper-button-prev {
        left: 15px;
      }
      .swiper-button-next {
        right: 15px;
      }
    }

    .preview__prev,
    .preview__next {
       display: block;
       padding: 10px;
        background: rgba(255, 255, 255, 0.56);
      @include media("<1100px") {
        display: none;
      };
    }

    .swiper-pagination-bullet {
        background-color: $white;
      &.swiper-pagination-bullet-active {
            background-color: rgba(255, 255, 255, 0.75);
        }
    }

/** paralllax img **/
  .parallax-img {
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-duration: 15s;
    @include media("<960px") {
      animation: none;
      display: none;
    };

    &.parallax-img--left {
      left: 40px;

      animation-name: spheres3;
    }
    &.parallax-img--right {
      right: 40px;
      animation-name: spheres4;
    }

    @keyframes spheres3 {
        0%,100%,50% {
            transform: rotateY(25deg) translateX(-12px) ;
        }

        25%,75% {
            transform: rotateY(-25deg) translateX(-12px) translateY(-25px);
        }
    }

    @keyframes spheres4 {
        0%,100%,50% {
            transform: rotateY(25deg) translateX(12px) ;
        }

        25%,75% {
            transform: rotateY(-25deg) translateX(12px) translateY(25px);
        }
    }
  }


}
