// -----------------------------------------------------------------------------
// This file contains all styles related to the ECRAN 2 - visa-short-term - of the home page
// -----------------------------------------------------------------------------

.visa-short-term {
     @include gradient-horizontal(#fdfdfd, #f8f9f8);
     padding-bottom: 0;
}
/**
 * search form
 */
.visa-short__search-form {
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    padding: 12px 8px;
    background-color: #f3f3f3;
    padding: 10px 5px;
    width: 100%;
    @include media('>=medium') {
      max-width: 680px;
    };
    .visa-short__btn {
      line-height: 0;
    }
}

/** search-form typehead **/
.typeahead__container {
  .visa-short__input {
    font-size: 18px;
    /** placeholder stuff **/
      &::-webkit-input-placeholder {
         color: #999;
         font-weight: 300;
         opacity: 1;
         @include media("<x-small") {
            font-size: 16px;
         };
      }

      &:-moz-placeholder {
          color: #999;
          font-weight: 300;
          @include media("<x-small") {
            font-size: 16px;
          };
      }

      &:-ms-input-placeholder {
          color: #999;
          font-weight: 300;
          @include media("<x-small") {
            font-size: 16px;
          };
      }
      /** end placeholder stuff **/
  }
}

/** columns **/
.visa-short__search-column {
  @include media('>=medium') {
    padding-right: 15px;
  }
}

/**
 * search form tips
 */
 .visa-short__search-form-tips {
     margin: 20px 0;
 }
.visa-short__search-form-tip {
    color:  #393939;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.4em;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
    &:hover,
    &.active {
        color: #c5313d;
    }
}

.visa-short__search-form-tip-col:not(:last-child) {
  @include media(">=1200px") {
     max-width: 16%;
  };
  .visa-short__search-form-tip {
    max-width: 75px;
    @include media("<tablet"){
      max-width: 100%;
    };
  }
}

/**
 * Country list
 */
.country-list {
      margin: 45px 0;
      @include media("<medium") {
        margin: 10px 0 25px;
      };
  .country-block {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    padding: 35px 16px 35px 40px;
    width: 98%;
    min-width: 280px;
    height: 140px;
    // margin-bottom: 10px;
    background-color: $white;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-tap-highlight-color: transparent;

    /** responsive **/
    @include media("<tablet") {
      padding: 50px 15px;
      height: auto;
      min-width: auto;
    };

      &:hover {
        background: rgba(243, 243, 243, 0.42);
        box-shadow: 0 0 0 1px #00a01a;
      }
      &.active {
          box-shadow: 0 0 0 1px #00a01a;
          background: rgba(243, 243, 243, 0.42);
          .country-label {

            opacity: 0.25;

          }
          .country-icon {

          }
          .country-name {

          }
          .country-action-panel {
            opacity: 1;
            transform: none;
            .coutry-action-link {
                transform: translateY(0);
            }
          }
      }
  }

  .country-label {
      display: inline;
      // display: inline-block;
      padding: .2em .6em .3em;
      font-size: 1em;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      transition: 0.5s ease all;
  }

  .country-icon {
      width: 72px;
      line-height: 72px;
      border-radius: 999px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.5s cubic-bezier(.25,.8,.25,1);
      margin-right: -0.24em;
      display: inline-block;
      transition-delay: 0.15s;
      /** responsive **/
      @include media("<tablet") {
        width: 48px;
        height: 48px;
      };
  }


  .country-name {
      color: #393939;
      font-size: 18px;
      margin-left: 28px;
      // display: inline-block;
      transition: all 0.5s cubic-bezier(.25,.8,.25,1);
      transition-delay: 0.3s;
      @include media("<small") {
        max-width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
            margin-left: 15px;
      };
      @include media("<375px") {

          // max-width: 180px;
          //  max-width: calc(100% - 48px - 28px);


      };
  }


  /** Country slider **/
  .country-list__slider {
    position: relative;
    @include media("<1366px") {
      padding-bottom: 70px;
    };
    .swiper-container {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        // background: #fff;
        height: 140px;
        /** responsive **/
        @include media("<small") {
          height: auto;
          padding-top: 30px;
        };
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
  }
  /**
   * Country slider nav
   */
   .country-list__nav {
     background: #00a01a;
     position: absolute;
     top: 50%;
     width: 60px;
     height: 60px;
     line-height: 60px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     margin-top: -30px;
     z-index: 10;
     cursor: pointer;
     text-align: center;
     @include media("<1366px"){
      top: auto;
      bottom: 0;
      margin: auto;
     };

     &.swiper-button-disabled {
        background:#9c9c9c;
    }
 }

 .country-list__nav-icon {
     display: inline-block;
     color: white;
     font-size: 24px;
     width: 24px;
     height: 24px;
     position: relative;
     &:before {
       position: absolute;
       top: -1px;
     }
 }

 .country-list__nav--prev {
     left: -85px;
     right: auto;
     @include media("<1366px"){
       left: 0;
       right: 0;
       transform: translateX(-40px);
     };

     .country-list__nav-icon:before {
       left: -1px;
     }
 }

 .country-list__nav--next {
     right: -85px;
     left: auto;
     @include media("<1366px"){
       left: 0;
       right: 0;
       transform: translateX(40px);
     };
     .country-list__nav-icon:before {
       right: -1px;
     }
 }

/**
 * country action panel
 */
 .country-action-panel {
    background: rgba(255, 255, 255, 0.93);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

/** action header **/
.country-action-header {
    padding: 5px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: #f7f7f7;
    text-align: center;
}

.coutry-action-header-icon {
    margin: auto;
    border-radius: 50%;
}
.country-action-header-text {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    @include media(">xx-small", "<640px") {
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      max-height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
    };
}

 .coutry-action-link {
    color: #141414;
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 15px 30px;
    font-size: 15px;
    transition: 1s cubic-bezier(0.15, 1.14, 0.58, 1) all;
    transform: translateY(120px);
    &:nth-child(1){
      transition-delay: 0.10s;
    }
    &:nth-child(2){
      transition-delay: 0.20s;
    }

    @include media("<601px") {
        padding-left: 15px;
        padding-right: 10px;
    };
}

.coutry-action-link-icon {
    margin-right: 10px;
    color: #141414;
    font-size: 25px;
    display: inline-block;
    @include media("<601px") {
        float: left;
        margin-top: -2px;
    };
}


// .country-list__slide:hover {
//   .country-action-panel  {
//       opacity: 1;
//       transform: none;
//       transition-delay: 0.3s;
//
//   }
//   .flag-icon {
//       transform:translateY(-150px);
//   }
//   .country-name {
//        transform:translateY(150px);
//
//   }
// }

/**
 * on small
 */
 @include media("<small") {
   .country-list__nav-icon {
     font-size: 18px;
     width: 18px;
     height: 18px;
   }

   .country-list__nav {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
   .country-list__nav--prev {
       transform: translateX(-30px);
   }

   .country-list__nav--next {
       transform: translateX(30px);
   }

   .country-block {
       padding: 30px 15px;
       overflow: visible;
   }


   .country-list__slider {
       padding-bottom: 50px;
   }

   .coutry-action-link {

   }

   .country-action-content {
      overflow: hidden;
      text-align: left;
  }

  .country-action-header {
    padding: 5px;
    position: absolute;
    top: -30px;
    height: 30px;
    width: 100%;
    background: white;
    color: #c5313d;
    text-align: center;
    box-shadow: 0 0px 0px 1px #00a01a;
  }





 };


} // end country list


/**
 * Country preview block
 */

 .country-preview {
     position: relative;
    //  min-height: 690px;
    overflow: hidden;
     background: $white;
 }

 .country-preview__short-desc-wrapper {
     position: absolute;
     bottom: 0;
     background-color: rgba(76, 132, 45, 0.83);
     width: 100%;
     height: 200px;
     @include media("<medium") {
       display: none;
     };
 }

 .country-preview__short-desc {
    position: absolute;
    bottom: 35px;
    max-width: 475px;
    padding: 0;
    color: white;
    font-weight: 300;
    line-height: 27px;
    color: white;
    font-size: 18px;
    padding-left: 15px;
     @include media("<large") {
       padding-left: 10px;
       max-width: 48%;
      padding-right: 10px;
     };
     @include media("<medium") {
       background-color: rgba(76, 132, 45, 0.83);
       margin-left: -15px;
      padding: 30px 15px;
      max-width: 50%;
      bottom: 0;
     };
 }

 .container.container-static {
     position: static;
 }

 .country-preview__img-wrapper {
     position: relative;
     width: 50%;
     min-height: 690px;
     position: absolute;
     left: 0;
     bottom: 0;
 }
 .country-preview__img {
     height: 100%;
     position: absolute;
     right: 0;
 }

 @include media(">=xx-large") {
   .country-preview__img {
        height: auto;
        bottom: 0;
        width: 100%;
    }

    .country-preview__img-wrapper {
        overflow: hidden;
    }
 };




/**
 * all layout for < medium
 */
@include media("<medium") {
  .country-preview {
      position: relative;
      min-height: auto;
      padding-bottom: 30px;
      background: #fff;
  }

  .country-preview__img-wrapper {
      position: relative;
      width: 100%;
      height: 250px;
      min-height: auto;
      overflow: hidden;
      text-align: center;
  }
  .country-preview__img {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: block;
      height: auto;
  }

  .country-preview__short-desc {
      position: relative;
      color: #141414;
      background: none;
      margin: 0 auto;
      max-width: 100%;
  }



  .visa-short__biometry-column {
      margin-top: 50px;
      margin-bottom: 15px;
  }
  .visa-short__info-block {
    margin-top: 35px;
  }

};

@include media("<xx-small") {
  .country-preview__img {
      height: 100%;
      width: auto;
      transform: translateX(-50%);
      left: 50%;
  }
};
