// -----------------------------------------------------------------------------
// This file contains all styles related to the ECRAN 2 - visa-lorg-term - of the home page
// -----------------------------------------------------------------------------

.visa-long-term {
    position: relative;
}

.visa-long__excerpt {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 300;
    text-align: justify;
}

.section-title {
    @include media(">=medium", "<large") {
      white-space: nowrap;
    };
}

.visa-long__consult-column {
  @include media("<medium") {
    text-align: center;
  };
}
.visa-long__info-block {
  @include media("<medium") {
    margin-left: auto;
    margin-right: auto;
  };
}
