// -----------------------------------------------------------------------------
// This file contains all styles related to the ECRAN 6 of the site/application.
// -----------------------------------------------------------------------------
//
.arguments {
  padding-bottom: 0;
  h2 {
    margin-bottom: 100px;
    @include media("<tablet") {
       margin-bottom: 70px;
    };
  }

}
.argument {
  padding: 90px 0;
  @include media("<tablet") {
    text-align: center;
    padding: 45px 0;

  };
    &.arugument--with-parallax {
      position: relative;
    }
    &.argument--first {
      padding: 0 0 40px 0;
      // parallax element - img position
      .parallax-img {
          right: 0;
          position: absolute;
          bottom: -40%;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
          animation-duration: 15s;
          animation-name: spheres;
      }

        @keyframes spheres {
            0%,100%,50% {
                transform: rotateY(25deg) translateX(42px) ;
            }

            25%,75% {
                transform: rotateY(-25deg) translateX(42px) translateY(25px);
            }
        }
    }

    &.argument--4 {
      .parallax-img {
        position: absolute;
        bottom: -60%;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-duration: 15s;
        animation-name: spheres2;
     }

      @keyframes spheres2 {
          0%,100%,50% {
              transform: rotateY(25deg) translateX(-42px) ;
          }

          25%,75% {
              transform: rotateY(-25deg) translateX(-42px) translateY(-55px);
          }
      }
    }

    // dark inverted styles
    &.argument--inverted {
      background-color: #141414;
      background: radial-gradient(circle closest-side at 50%, #202020 0%, #141414 100%);

      .argument__details {
        color: #ddd;
      }
      .argument__title {
        color: $white;
      }

      .argument__totals {
        color: #f9f9f9;
      }
    }

    .argument__title {
      font-family: "Bebas_Neue", sans-serif;
      font-size: 40px;
      margin-bottom: 15px;
    }

    .argument__desc {
      font-size: 15px;
      line-height: 17px;
      @include media("<tablet"){
        font-size: 18px;
        line-height: normal;
      };
      max-width: 360px;
      p, span {
        line-height: inherit;
      }
    }

    .argument__details {
      color: $black;
      margin-bottom: 20px;
    }

    .argument__sep {
      background-color: #705d2f;
      width: 137px;
      height: 1px;
      margin: 20px 0;
    }

    .argument__desc,.argument__sep {
        @include media("<tablet") {
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        };
    }


    .argument__total {
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 0;
      @include media("<tablet"){
        font-size: 18px;
        line-height: normal;
      };
    }
    .argument__img-wrapper {
        @include media(">=tablet", "<960px") {
          margin-right: 20px;
        };
    }
    .argument__img {
      max-width: 100%;
    }




}
