// -----------------------------------------------------------------------------
// This file contains all styles related to the ECRAN 6 - Testimonials -  of the site/application.
// -----------------------------------------------------------------------------

/** testimonials slider settings **/

.testimonials__slider {
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
  .swiper-container {
      padding: 85px 5px 50px;
  }
  .swiper-wrapper {
    box-sizing: border-box;
  }
  .swiper-pagination-bullet-active {
      background: $blue-base1;
  }
}


.testimonials__slider {
    position: relative;
}

.testimonials__slide {
    position: relative;
}




/** One testimonial settings **/

.testimonial {
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
    @include shadow(1, $blue-base1);
    padding: 60px 40px 45px;
    // width: 98%;
    cursor: move;
    cursor: -webkit-grab;
    margin: auto;
}

.testimonial__figure {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 0;
  transform: translate(0,-50%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 7px 7px 27px transparentize($blue-base1, 0.62);
}

.testimonial__text {
    max-height: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    @extend .vtsgrid__item__description;
    margin-top: 0;
    text-align: justify;
}


.btn.testimonial__readmore-btn{
    background: none;
    width: 100px;
    font-size: 16px;
    float: right;
    margin: 10px 0;
    color: lighten($blue-base1, 1%);
    text-shadow: none;
}


/** client details **/
.testimonial__client-details {
  color: #6e6e6e;
    div, a {
      font-size: 18px;
      line-height: 1.4em;
    }
}

.testimonial__client-name {
  @extend .vtsgrid__item__title;
  color: $blue-base1;
}
.testimonial__client-post {
    font-style: italic;
}

.testimonial__client-site {
    color: #3B60ad;
    text-decoration: underline;
}



.testimonial__avatar {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}
