// -----------------------------------------------------------------------------
// This file contains all styles related to the ECRAN 7 - certificates- of the site/application.
// -----------------------------------------------------------------------------
//
.certificates {
  background-color: #3b60ad;
  background-image: linear-gradient(135deg, #3b60ad, #2b6627);
}
.certificates .certificates__static-pattern {
  opacity: 1;
  background-color: transparent;
  background-image: image('/patterns/guilloche.png');

}
/** certificates slider settings **/

.certificates__slider {
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
  .swiper-container {
      padding: 60px 5px;
  }
  .swiper-wrapper {
    box-sizing: border-box;
  }
  .swiper-pagination-bullet-active {
      background: $base-green;
  }
}

.certificate__link {
    display: block;
    overflow: hidden;
    position: relative;
    width: 380px;
    max-width: 100%;
    margin: auto;
    &:hover {
      .certificate__thumb {
        transform: scale(1.1,1.1);
      }
      .certificate__overlay {
        // box-shadow: 0 0 0 2px rgb(248, 211, 71) inset;
        background-color: rgba(0,0,0,.5);
      }
      .certificate__overlay-icon {
        transform: scale(1);
        opacity: 1;
      }
    }
}
.certificate__thumb {
    transform: scale(1);
    transition: transform .75s ease 0s;
    display: block;
    max-width: 100%;
    height: auto;
}

.certificate__overlay {
  background-color: rgba(0,0,0,.1);
  bottom: 0;
  left: 0;
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  transition: background-color .15s ease 0s;
}

.certificate__overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 50%;
  background: $base-green;
  color: white;
  opacity: 0;
  transform: scale(1.5);
  transition: transform .7s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity .3s ease 0s;
}
