// -----------------------------------------------------------------------------
// This file contains all styles related to the ECRAN 8 - home-contacts - of the site/application.
// -----------------------------------------------------------------------------
.home-contacts {
  padding: 0;
}
.home-contacts__map {
  width: 100%;
  height: 500px;
}
