.page--visa-c-country {
  .image-block--order-variations {
    background-image: linear-gradient(to bottom, rgba(236, 233, 230, 0.19), rgb(255, 255, 255));
    .image-block__img {
        width: 250px;
        max-width: 100%;
    }
  }

}




.order-steps {
  text-align: center;
  /** icons set **/
  .icons-set {
    .icons-set__item__icon-wrap {
       width: 64px;
       height: 64px;
       font-size: 27px;
   }

   .icons-set__item__field {
       margin-bottom: 15px;
   }
  }
  /** step **/
  .order-steps__step {
      position: relative;
      @include media("<x-small") {
        padding-bottom: 25px;
      };
      &:after {
          content: "\77";
          @extend [class*='icon--'];
          top: 45px;
          right: -30px;
          position: absolute;
          margin: auto;
          display: block;
          font-size: 30px;
          color: #ffba00;
          @include media("<x-small") {
            right: 0;
            bottom: 0;
            top: auto;
            left: 0;
            transform: rotate(90deg);
          };
      }
      @include media(">=x-small", "<medium") {
        &.order-steps__step--second:after {
          display: none;
        }
      };
      &.order-steps__step--last:after {
        display: none;
      }
  }
}


/**
 * Attention block
 */


 .attention-block {
     display: table;
     .attention-block__icon-wrapper {
         width: 100px;
         height: 100px;
         border-radius: 50%;
         position: relative;
         margin: 10px;
         display: table-cell;
     }


    .attention-block__icon {
         font-size: 100px;
         color: #ff0000;
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
     }

     .attention-block__content {
         display: table-cell;
             padding: 15px 20px;
     }

     .attention-block__icon-content {
         display: table-cell;
         vertical-align: middle;
         width: 130px;
     }
 }



/** country-price-include  with country-preview block layout from homepage **/
.country-price-include {
  margin: 30px 0;

  .country-preview__subtitle-header {
       font-weight: normal;
       font-size: 30px;
       text-transform: none;
   }

   .country-preview__subtitle {
       border: none;
       display: block;
       margin: 10px 0;
   }

   .country-preview__name {
       max-width: none;
       display: block;
       padding-right: 0;
   }
   .prices-table__icon-bg {
     font-size: 20px;
   }

}


.documents-list__content {
    text-align: left;
    margin-top: 30px;
    a {
        color: #0055b0;
        font-weight: bold;
    }
    ul li {
      list-style: outside disc;
      padding-left: .5em;
      margin-left: 1.5em;
      margin-bottom: .5em;
      list-style-image: image('li-icon.png');
      font-size: 16px;
    }
}


.info-block__desc .vts-list a {
  font-weight: bold;
  color: #0055b0;
}

.vts-list__answer {
    padding: 10px;
    background: #f4f4f4;
    margin: 10px 0;
    display: none;
}
