$site-form__input-bg: #212121;
$site-form__input-bg-focus: lighten(#212121, 5%);
$site-form__input-color:  #d7d7d7;
$site-form__input-border-color-focus: rgba(172, 148, 85, 0.35);
$invalid_color_text: #f12b24;
$invalid_color_bg: rgb(232, 208, 208);
$label-color: #6a6a6a;

:focus {
  outline: none;
}


/**
 * Material form
 */

 .site-form__field {
     position: relative;
     display: block;
     margin: 0 0 16px;
     &.site-form__field--no-margin {
       margin-bottom: 0;
     }
      font-size: 18px;
 }
 .site-form__field-id {
   position: relative;
   color: #2b2e38;
 }
 .site-form__input {
   background-color: transparent;
   box-sizing: border-box;
    margin: 0;
    padding: 10px 15px;
    width: 100%;
    height: 42px;
    border: 1px solid #ccc;
    color: #000;
    vertical-align: middle;
    text-indent: 0;
    font-weight: inherit;
    // font-size: 16px;
    font-family: inherit;
    line-height: 1.8;
        display: block;
        border-radius: 3px;
    -webkit-appearance: none;


    &:focus,
    &.valid {
          border-color: $yellow;
          z-index: 2;
          color: #2b2e38;
    }

 }

 label.error {
      font-size: 14px;
      color: #c5313d;
 }

 .site-form__input-label {
     position: absolute;
     top: 0;
     left: 15px;
     height: 32px;
     line-height: 42px;
     color: #2b2e38;
     transition: .2s ease-in-out;
     white-space: nowrap;
     overflow: hidden;
     max-width: 100%;
     text-overflow: ellipsis;
     pointer-events: none;

     &.active {
       top: -31px;
       left: 0;
       font-size: 11px;
       // line-height: 3;
     }
 }
 .site-form__field-error {
     display: block;
     overflow: hidden;
     margin: 1px 0 0;
     width: 100%;
     height: 15px;
     text-align: left;
 }
.site-form__error-text {
    display: block;
    width: 100%;
    color: #d0021b;
    text-align: inherit;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

.site-form__input-label--small {
    position: absolute;
    top: -20px;
    font-size: 14px;
    color: $blue-toxic;
    // padding-left: 15px;
}

.site-form__field-control--with-sibling:first-child {
  padding-right: 15px;
}
@include media("<640px") {
  .site-form__field-control--with-sibling {
    margin: 30px auto;
    &:first-child {
      padding-right: 0;
    }
  }
};
