[class*='icon--'] {
  vertical-align: middle;
  &:before{
  	display: inline-block;
     font-family: 'vts';
     font-style: normal;
     font-weight: normal;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale
  }
}

.icon--pinpoint:before{content:'\0041';}
.icon--phone_number:before{content:'\0042';}
.icon--speech_large_bubble:before{content:'\0043';}
.icon--document_solid:before{content:'\0044';}
.icon--make_note:before{content:'\0045';}
.icon--delivery_bus:before{content:'\0046';}
.icon--shield:before{content:'\0047';}
.icon--fingerprint:before{content:'\0048';}
.icon--transfer_docs:before{content:'\0049';}
.icon--fingerprint_big:before{content:'\004a';}
.icon--car:before{content:'\004b';}
.icon--mark_as_favorite:before{content:'\004c';}
.icon--versions:before{content:'\004d';}
.icon--calendar3:before{content:'\004e';}
.icon--knowledge_sharing:before{content:'\004f';}
.icon--zoom_icon:before{content:'\0050';}
.icon--light-bulb:before{content:'\0051';}
.icon--complex:before{content:'\0052';}
.icon--customer_support:before{content:'\0053';}
.icon--professor_consultation:before{content:'\0054';}
.icon--fingerprint_scan:before{content:'\0055';}
.icon--search:before{content:'\0056';}
.icon--passport:before{content:'\0057';}
.icon--visa-extrance:before{content:'\0058';}
.icon--calendar7:before{content:'\0059';}
.icon--calendar15:before{content:'\005a';}
.icon--bill:before{content:'\0061';}
.icon--pay_order:before{content:'\0062';}
.icon--document:before{content:'\0063';}
.icon--attention:before{content:'\0064';}
.icon--bullet_list_filled:before{content:'\0065';}
.icon--airport_filled:before{content:'\0066';}
.icon--booking_filled:before{content:'\0067';}
.icon--contract_job_filled:before{content:'\0068';}
.icon--van_filled:before{content:'\0069';}
.icon--speech_bubble_filled:before{content:'\006a';}
.icon--plus:before{content:'\006b';}
.icon--minus:before{content:'\006c';}
.icon--last_24_hours:before{content:'\006d';}
.icon--shake_phone:before{content:'\006e';}
.icon--message:before{content:'\006f';}
.icon--skype_contact:before{content:'\0070';}
.icon--location_marker:before{content:'\0071';}
.icon--location_marker_filled:before{content:'\0072';}
.icon--arrow_left_right:before{content:'\0073';}
.icon--arrow_right_flat:before{content:'\0074';}
