// -----------------------------------------------------------------------------
// This file contains all styles related to the image-block component.
// -----------------------------------------------------------------------------
.image-block {
    @include base-shadow();
    background: rgba(244, 244, 244, 0.14);
    text-align: center;
}

.image-block__text {
    text-align: center;
    font-size: 20px;
    
}


.image-block__content {
    padding: 15px;
    background: #f7f7f7;
}

.image-block__img-wrapper {
    padding: 15px;
}
