//DEFAULT STYLES FIXED MENU
#header-nav {
  display: block;
  z-index: 100;
  transition: transform 0.7s .3s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  &.hide-nav-bar {
    transform: translate(0, -100%);
    -webkit-backface-visibility: hidden;
  }
}


nav[role=navigation] {
  width: 100%;
  // transition: all 0.3s ease-out;

  // @include media("<large") {
  //     overflow: hidden;
  //     max-height: 0;
  // };
}


.small-logo {
    position: absolute;
    top: 0;
    left: 15px;
    color: white;
    font-family: "Bebas_Neue", sans-serif;
    font-size: 30px;
    line-height: 60px;
}


.small-logo-link {
    text-decoration: none;
}


.bar1, .bar2, .bar3 {
  margin-top: 3px;
  background: #999999;
  width: 33px;
  height: 4px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.bar2 {
  margin-top: 13px;
}

.bar3 {
  margin-top: 23px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.brand {
  display: none;
  // float: left;
  margin-left: 1em;
  padding: 1em;
  h1 {
    margin: 0;
    font-size: 1.5em;
  }
}

/** styles for menu for tablets and phones **/
@include media("<large") {
  .icon--mobile-arrow {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 42px;
    padding-right: 10px;
    width: 50px;
    text-align: right;
    font-size: 14px;
    color: #494a4a;
    line-height: 1;
    &:before {
      vertical-align: middle;
    }
  }

}
@include media(">=large") {
  #header-nav {
     .hamburger,
     .small-logo {
         display: none;
     }

  }
  .icon--mobile-arrow {
    display: none;
  }
  // .js nav[role=navigation] {
  //   max-height: none;
  // }

}



ul {
  margin: 0;
  padding: 0;

}


/**
 * Menu component
 */

 .menu {
    display: flex;
    align-items: center;
   @include media(">=large"){
     text-align: center;
   };
   @include media("<large"){
     display: none;
   };
   &.active {
        // max-height: 500em;

   }
   &__list {
     display: flex;
     flex: 1;
     background-color: $white;
        //  max-width: calc(100% - 80px);
    @include media(">=large"){

        margin: 0;
         border: 0;
    };

   }
   &__item {
    //  border-bottom: 1px solid rgba(186, 164, 133, 0.18);
     position: relative;
     @include media(">=large"){
       display: inline-block;
       position: relative;
       flex-grow: 1;
       &:after {
             content: "";
            background: #ffba00;
            position: absolute;
            top: 0px;
            bottom: 0;
            right: -5px;
            height: 24px;
            width: 1px;
            margin: auto;
       }
       &--last:after {
         @include media(">=960px"){
           display: none;
         };
       }
     };

     &-inner {
        position: relative;
         z-index: 3;
         overflow: hidden;
         display: inline-block;
         vertical-align: middle;
     }
     &-icon {
         display: inline-block;
         vertical-align: middle;
         font-size: 16px;
         transform-origin: 50% 50%;
         transform: rotate(90deg);
            position: relative;
          margin-left: 4px;
         transition: 0.3s cubic-bezier(0.71, 0.47, 0.22, 0.71);
     }

     &.expanded &-icon {
         transform: rotate(-90deg);
         @include media("<large"){
           transform: rotate(-90deg) translateX(5px);
         };
         color: #ffba00;
     }
    //  &.expanded .submenu {
    //      transform: none;
    //      opacity: 1;
    //      visibility: visible;
    //  }
   }

   &__link {
         position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0.65em 0.35em;
    left: 3px;
    font-size: 17px;
    color: #494a4a;
    z-index: 1;
     &:hover,
     &.menu__link--active {
       color: $black
     }
   }
   &__item-inner &__link {
      padding: 0.65em 0 0.65em 8px;
      left: 0;
    }

    /** button more **/
    .hidden-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 320px;
    height: 100%;
    }

    .hidden-links &__item {
        display: block;
        background: white;
    }

    .hidden-links &__link {
        display: block;
        left: 0;
    }

    &__more:before {
        content: attr(count);
        display: block;
        position: absolute;
        left: -14px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        background: #0055b0;
        color: #f2f2f2;
        box-shadow: 0 0 1px 0 rgba(0,0,0,0.8);
        border-radius: 50%;
        font-size: 14px;
        line-height: 30px;
    }

    &__more {
        position: relative;
        &.hidden {
          transition: none;
          width: 0!important;
          padding: 0!important;
          overflow: hidden;
          display: inline-block!important;
        }
    }

 }

  @include media("<large"){
    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: calc(100% - 30px);
      margin: auto;
      background: rgba(255, 255, 255, 0.14);
      box-shadow: 4px 4px 0 rgba(45, 70, 104, 0.06), 0 0 0px 1px rgba(45, 70, 104, 0.06);
      &__list {
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         padding: 15px;
      }

      .submenu {
         position: relative;
         z-index: 1;
         display: none;
      }

      &__item-icon {
         transform: none;
         width: auto;
      }

      &__item-inner {
        display: block;
        margin: auto;
        text-align: center;
      }

      &__link {
         left: 0;
      }
    }
  };


 /**
  * Submenu component
  */

.submenu {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    width: auto;
    text-align: left;
    padding: 0;
    padding: 10px 0;
    background: #ffffff;
    transition: 0.5s cubic-bezier(0.71, 0.47, 0.22, 0.71) transform,0.2s ease-out opacity, 0.4s ease-in visibility;
    // transform: translateY(-40px) scale(1, 0.8);
    // opacity: 0;
    // visibility: hidden;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: 4px 4px 0 rgba(45, 70, 104, 0.06), 0 0 0px 1px rgba(45, 70, 104, 0.06);
    }

    &__link {
      position: relative;
    display: block;
    padding: 0.4em 8px;
    font-size: 16px;
    color: #0055b0;
    font-weight: 400;
    white-space: nowrap;
        &:hover {
           background: #f7f7f7;
        }
    }


}
