//DEFAULT STYLES FIXED MENU
#header-nav {
  display: block;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.7s 0.3s ease;
  -moz-transition: -moz-transform 0.7s 0.3s ease;
  -ms-transition: -ms-transform 0.7s 0.3s ease;
  transition: transform 0.7s .3s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  &.hide-nav-bar {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -webkit-backface-visibility: hidden;
  }
}

.hamburger{
  // display: block;
  // padding: 1em;
}

nav[role=navigation] {
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@include media("<960px") {
  nav[role=navigation] {
    overflow: hidden;
    max-height: 0;
  }
};

nav[role=navigation] {
    text-align: center;
  &.active {
    max-height: 25em;
  }
  ul {
    margin: 0;
    padding: 0;

  }
  /** Menu link styles **/
  .menu__link {
    display: block;
    padding: 0.65em;
    font-size: 18px;
    color: #494a4a;

    &:hover,
    &.menu__link--active {
      color: $black
    }
  }
}
.small-logo {
    position: absolute;
    top: 0;
    left: 15px;
    color: white;
    font-family: "Bebas_Neue", sans-serif;
    font-size: 30px;
    line-height: 60px;
}


.small-logo-link {
    text-decoration: none;
}


.bar1, .bar2, .bar3 {
  margin-top: 3px;
  background: #999999;
  width: 33px;
  height: 4px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.bar2 {
  margin-top: 13px;
}

.bar3 {
  margin-top: 23px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.brand {
  display: none;
  // float: left;
  margin-left: 1em;
  padding: 1em;
  h1 {
    margin: 0;
    font-size: 1.5em;
  }
}

/** styles for menu for tablets and phones **/
@include media("<960px") {
  .menu__item {
    border-bottom: 1px solid rgba(186, 164, 133, 0.18);
    position: relative;

  }
  nav[role=navigation] ul {
    background-color: $white;

  }
  .icon--mobile-arrow {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 42px;
    padding-right: 10px;
    width: 50px;
    text-align: right;
    font-size: 14px;
    color: #494a4a;
    &:before {
      vertical-align: middle;
    }
  }

  .menu__link {
    position: relative;
    z-index: 1;
  }
}
@include media(">=960px") {
  #header-nav {
     .hamburger,
     .small-logo {
         display: none;
     }

  }
  .icon--mobile-arrow {
    display: none;
  }
  .js nav[role=navigation] {
    max-height: none;
  }
  nav[role=navigation] {
    text-align: center;
    ul {
      margin: 0 0 0 -0.25em;
      border: 0;
    }
    .menu__item {
      display: inline-block;
      margin: 0 0.25em;
      position: relative;
      &:after {
        content: "";
        background: #d6d6d6;
        position: absolute;
        top: 0px;
        bottom: 0;
        right: -7px;
        height: 30px;
        width: 1px;
        margin: auto;
      }
      &.menu__item--last:after {
        display: none;
      }

      .menu__link {
        border: 0;
      }
    }
  }
}
