// -----------------------------------------------------------------------------
// This file contains all styles related to the vts-tabs component.
// -----------------------------------------------------------------------------
$vts-tabs__tab__bg: #f7f7f7;
$vts-tabs__tab__color: #393939;
$vts-tabs__active-tab__bg: $blue-light;
$vts-tabs__active-tab__color: $white;
$vts-tabs__control-font-size: 20px;
.vts-tabs {
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);

	>.vts-tabs__control {
    font-size: $vts-tabs__control-font-size;
		transition-duration: .25s;
		display: table-cell;
		list-style: none;
		text-align: center;
		padding: 20px 20px 25px 20px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
    background-color: $vts-tabs__tab__bg;
		color: $vts-tabs__tab__color;

		&:before{
			z-index: -1;
			position: absolute;
			content: "";
			width: 100%;
			height: 120%;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, .3);
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			transition-duration: .25s;
			border-radius: 5px 5px 0 0;
		}

		&:hover{
			&:before{
				-webkit-transform: translateY(70%);
				transform: translateY(70%);
			}
		}

		&.active{
			color: $vts-tabs__active-tab__color;
      background-color: $vts-tabs__active-tab__bg;

			&:before{
				transition-duration: .5s;
				background-color: white;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
		}
	}
}

.vts-tabs__content {
	// background-color: white;
	position: relative;
	width: 100%;
	border-radius: 5px;

	>.vts-tabs__content-tab{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

		display: none;
		list-style: none;

		.vts-tabs__content-tab-wrapper {
			text-align: center;
			border-radius: 5px;
			width: 100%;
			padding: 45px 40px 40px 40px;
			// background-color: white;
		}
	}
}
