// -----------------------------------------------------------------------------
// This file contains all styles related or first used on page: invites
// -----------------------------------------------------------------------------
.page.page--invites {
.page-action {
  color: $blue-base1;
}
  p {
    line-height: 1.375;
  }
  .table {
    max-width: 820px;
  }
  .accordion__contol {
      max-width: 820px;
      margin: 6px auto;
  }
  // common
  .documents-set--icon--color-white .icons-set__item__icon {
      color: white;
      font-size: 1.2em;
  }
  .documents-set--icon--color-white .icons-set__item__icon-wrap {
      width: 48px;
      height: 48px;
  }
  .documents-set .icons-set__item__title {
    font-weight: 500;
}
.icons-set__item__title a {
  color: $blue-base1;
  // text-decoration: underline;
}
.accordion__heading {
    background: #f7f7f7;
    box-shadow: 0 0 0 1px rgb(73, 155, 183) inset;
}

.accordion__title {
    font-weight: 600;
    color: #0055b0;
}

/** styles for active parent accordion **/
.accordion__item--parent.active > .accordion__control {
    background: #fff5ee;
    box-shadow: 0 0 0 1px #ffba35 inset;
    color: #574a29;
}

.accordion__item--parent.active > .accordion__panel > .accordion__content {
    background: #fffcfa;
    border: 1px solid #ffba35;
    border-top-width: 0;
    padding-right: 20px;
}

}







.invites {
  &__row {
    @include media(">=820px") {
      margin: 0 75px;
    };
  }
  &__annonce {
      margin: 0 0 20px;

      font-size: 18px;
      border: 1px solid $blue-base1;
      padding: 15px;
      line-height: 1.375;
      svg {
          float: left;
          margin: 5px;
          margin-right: 15px;
          width: 63px;
          height: 60px;
          fill: $blue-base1;
      }
  }
  &__desc-intro {
    line-height: 1.375;
  }
  &__table-anonce {
    padding: 0 0 15px;
    color: #3a1c1c;
    // font-size: 18px;
  }

  &__btn-block {
      background: #fafcff;
      padding: 20px 15px;
      border: 1px solid #e7e7e7;
  }




}
