// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer.site-footer {
  position: relative;
  padding: 60px 0 20px;
  // background-color: $blue-base1;
  // @include radial-gradient($blue-base1, #003f7f, $blue-base1);
  background-color: #2a4d71;
  @include media("<x-small") {
    padding-top: 30px;
  }
}
.site-footer__block {
  @include media("<small") {
    margin-bottom: 15px;
  };
}
.site-footer__block-header {
    margin-bottom: 2em;
    position: relative;
    /* font-size: 1.2rem; */
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    margin-bottom: 1em;
}

.site-footer__block-header:after {
    background: $yellow;
    content: "";
    display: block;
    height: 1px;
    margin-top: 1em;
    position: relative;
    top: 1px;
    width: 50px;
}
.site-footer__block-item {
    margin-bottom: 5px;
    color: #dcdcdc;
    &:hover {
      color: $white;
    }
    font-size: 16px;
    line-height: 1.4em;
}


.site-footer__block-link {
    line-height: 1.4em;
    color: #dcdcdc;
    &:hover {
      color: $white;
    }
}
.site-footer__block-item-icon {
    margin-right: 10px;
}
.site-footer__copyright {
  color: $yellow;
  width: 33.3333%;
  margin: 25px auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  position: relative;
  left: -0.24em;
  @include media("<medium") {
    width: 100%;
    text-align: center;
    padding: 0;
    left: 0;
  };
}

@include media("<x-small") {
  .site-footer__block {
    text-align: center;
    padding: 10px 0;
    background: rgba(217, 217, 217, 0.07);
}

  .site-footer__block-header {
      display: inline-block;
      border: none;
      &:after {
          margin-left: auto;
          margin-right: auto;
          margin-top: 0.5em;
      }
  }


};
