// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// $header-test-bg: #263e4f;



header.site-header {
  padding: 15px 0 0px;
  position: relative;
  background: none;
  z-index: 10;
  width: auto;
  height: auto;
  left: auto;
  right: auto;
  @include ff('Museo Sans');
  // disable underline for all links
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  .color-bar {
    width: 100%;
    height: 5px;
    background: image('color-bar.png') repeat-x;
    margin: 10px 0 3px;
  }

  /**
   * Logo
   */
  .logo {

    display: flex;
    align-items: center;

      .logo__icon {
          width: 75px;
          height: 75px;
          display: inline-block;
          background: image('logo_icon.png') 0 0 no-repeat;
          background-size: contain;
          vertical-align: middle;
      }

     .logo__title-wrapper {
          display: inline-block;

          vertical-align: middle;
          margin-left: 10px;
      }

      .logo__title-part {
          display: block;
      }

      .logo__title-part--first {
          font-size: 20px;
          font-weight: bold;
      }

      .logo__title-part--last {
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: 0.05em;
      }

      .logo__title-part--sep {
          width: 152px;
          height: 1px;
          background: #148ec7;
          margin: 3px 0 4px;
      }

  }

  .header-left,
  .header-right {
    vertical-align: middle;
  }
  /** responsive align header parts **/
  .header-left {
    @include media("<640px") {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    };
  }
  .header-right {
    @include media("<640px") {
      margin: auto;
      display: block;
      width: 100%;
      text-align: center;
    };
  }

  /**
   *  header data (right part)
   */
   .header-data {

    @include media("<640px") {
      float: none;
    };
    // @include ff('PT Sans');
    font-size: 18px;

    .header-data__item {
        display: inline-block;

        &--geo {
            position: relative;
        }
    }
    .header-data__phone {
        font-weight: bold;
    }

    .header__icon {
        color: #3b3b3b;
        // font-size: 14px;
        margin-right: 5px;
    }
    .header-data__link {
        display: flex;
        align-items: center;
    }

  }


}

// end container styles - go separate

.drop-tooltip {
  position: absolute;
  width: 200px;
  left: 0;
  transform: translate(-110%,-50%) scale(1);
  top: 50%;
  z-index: 2;
  padding: 20px 15px 15px;
  text-align: center;
  border-left-color: #e9e7e7;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(24,19,19,.5), inset 0 1px 0 0 hsla(0,0%,100%,.5);
  line-height: 1.3;
  font-size: 18px;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  border-radius: 8px;
  box-shadow: 0 20px 50px 0 rgba(0,0,0,.2);
  visibility: visible;
  @include media("<620px"){
    transform: translate(0%, 20%) scale(1);
    border-top: 1px solid #f1f1f1;

  };
  &--hidden {
      transform: translate(-95%,-50%) scale(0);
      transform-origin: right center;
      visibility: hidden;
  }
  &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      opacity: 0.4;
      z-index: -1;
  }
  &:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
      content: '';
      width: 0;
      height: 0;
      border: 14px solid transparent;
      border-left-color: #ffffff;
      @include media("<620px"){
        top: 0;
        left: 0;
        right: 0;
        transform: translate(100%, -100%);
        border-color: transparent;
        border-bottom-color: #ffffff;
      };
  }

  &__nav .btn {
    width: 65px;
    margin: 0 5px;
    height: 1.8em;
  }
}

/** custom header data **/
.header {
  &-data-wrapper {
    float: right;
    font-size: 18px;
  }

  &-data__item-phone {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      /* color: #193dff; */
    }
  }

  /**
   * office
   */

  &-office {

      text-align: right;
      border-top: 1px solid #ffb900;
      margin-top: 5px;
      padding-top: 5px;

      > div {
        padding: 5px 0;
      }

    &__days-wrapper {
        display: inline-block;
        margin: 0 5px;
    }
    &__adress-days {
      display: inline-block;
    }

    &__adress-hourds {
      display: inline-block;
      white-space: nowrap;
    }


    &__adress-days, &__adress-hourds {
      font-size: 0.9em;
    }

  }





}

/** hardcode **/
.header-data__item-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header-data__item-content-action {
  position: relative;
    margin-left: 5px;
    padding: 2px 2px 1px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}





a.header-data__link.header-data__geo:after {
    display: block;
    content: "\25BC";
    position: relative;
    top: 2px;
    speak: none;
    font-size: 13px;
    transform: scaleY(.5) scaleX(1);
    left: 3px;
    align-self: center;
}




header.site-header .header-data .header__icon {
    color: #adadad;
    font-weight: 400;
}

.your-city,.cite-offices {
    font-size: 15px;
}


header.site-header .header-data .header-data__item {
    display: block;
}

.header-data__geo--office {
    font-size: 15px;
}

.header-data .header-data__item--offices .header-data__item-content {
    flex-direction: column;
    align-items: flex-start;
}

.header-data .header-data__item--offices .header-data__item-content-action {
    margin-left: 0;
}

.header-data .header-data__item--offices {
    margin-top: 10px;
}

.header-locations__data {
    margin-top: 5px;
}

.header-data__item-content-action:before {
    content: "";
    position: absolute;
    left: 0px;
    top: -10%;
    width: 105%;
    height: 125%;
    z-index: -1;
    box-shadow: 4px 4px 0 rgba(45, 70, 104, 0.06), 0 0 0px 1px rgba(45, 70, 104, 0.06);
    background: white;
    transform: scaleY(0.8);
    transform-origin: 50% 50%;
    transition: 0.3s cubic-bezier(0.71, 0.47, 0.22, 0.71) transform, 0.3s cubic-bezier(0.71, 0.47, 0.22, 0.71) opacity;
    opacity: 0;
}

.header-data__item-content-action:hover:before {
    transform: none;
    opacity: 1;
}


.cite-offices {
    color: #c5313d;
    margin-bottom: 5px;
}


/**
 * Header locations
 */
.header-locations {
    display: flex;
    align-items: center;
    &__slogan {
        font-size: 18px;
        font-weight: normal;
        margin: 0;
        line-height: 1.2;
    }

    &__action {
        margin-bottom: 10px;
    }

    &__action-link {
        line-height: 1.375;
        font-size: 16px;
        text-decoration: underline;
        color: #0028ff;
    }

    &__content {
        margin-left: 15px;
    }
}

/**
 * Custom right part code
 */


 .header-office__adress-moscow {
     color: #6b6b6b;
 }

 .header-office__days-prefix {
     font-size: 16px;
     color: #333;
 }

 .header-office__adress-days {
     color: #021684;
 }

 .header-office__adress-hourds {
     color: #0011ff;
 }


 .header-office__days-outer {
     background: white;
     margin-bottom: 5px;
     border-bottom: 1px dashed #ffba00;
 }

 .header-office {
     border-top: 1px dashed #ffba00;
 }
