// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// $header-test-bg: #263e4f;



header.site-header {
  overflow: hidden;
  padding: 51px 0 0px;
  position: relative;
  background: none;
  z-index: auto;
  width: auto;
  height: auto;
  left: auto;
  right: auto;
  @include ff('Museo Sans');
  // disable underline for all links
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  .color-bar {
    width: 100%;
    height: 5px;
    background: image('color-bar.png') repeat-x;
    margin: 10px 0 3px;
  }

  /**
   * Logo
   */
  .logo {

    // .logo__img {
    //     background: image('logo.png') 0 0 no-repeat;
    //     width: 260px;
    //     height: 80px;
    //     display: block;
    //     @include media("<640px") {
    //       margin: 0px auto 25px;
    //     };
    // }


      .logo__icon {
          width: 75px;
          height: 75px;
          display: inline-block;
          background: image('logo_icon.png') 0 0 no-repeat;
          margin-right: -0.24em;
          vertical-align: middle;
      }

     .logo__title-wrapper {
          display: inline-block;
          margin-right: -0.24em;
          vertical-align: middle;
          margin-left: 10px;
      }

      .logo__title-part {
          display: block;
      }

      .logo__title-part--first {
          font-size: 20px;
          font-weight: bold;
      }

      .logo__title-part--last {
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: 0.05em;
      }

      .logo__title-part--sep {
          width: 152px;
          height: 1px;
          background: #148ec7;
          margin: 3px 0 4px;
      }

  }

  .header-left,
  .header-right {
    vertical-align: middle;
  }
  /** responsive align header parts **/
  .header-left {
    @include media("<640px") {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    };
  }
  .header-right {
    @include media("<640px") {
      margin: auto;
      display: block;
      width: 100%;
      text-align: center;
    };
  }

  /**
   *  header data (right part)
   */
   .header-data {
    float: right;
    @include media("<640px") {
      float: none;
    };
    // @include ff('PT Sans');
    font-size: 18px;

    .header-data__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 30px;
            @include media("<=375px") {
                margin-right: 20px;
            };
        }
    }
    .header-data__phone {
        font-weight: bold;
    }

    .header__icon {
        color: #3b3b3b;
        // font-size: 14px;
        margin-right: 13px;
    }
    .header-data__link {
        display: inline-block;
        vertical-align: middle;
    }

  }



}
