// -----------------------------------------------------------------------------
// This file contains all styles related or first used on page: passports-registration
// -----------------------------------------------------------------------------
.page.page--passports-registration {
  .parallax-image:after {
      opacity: 0.7;
          background: linear-gradient(45deg, rgba(43, 46, 56, 0.42), rgba(43, 70, 40, 0.81), rgba(0, 85, 176, 0.4));
  }

// end for page
}

// common

/** small page action **/
h3.page-action {
    font-size: 24px;
    color: $base-green;
    &:after {
      background-color: #e0e0e0;
      width: 120px;
    }
}
